.users-list-container {
    height: 80vh;
    overflow: scroll;
}

.chat-new-user-profile {
    height: 70x;
    width: 60px;
    border-radius: 100%;
}

.search-bar {
    z-index: 2;
    height: 80px;
    position: absolute;
    background-color: white;
    display: flex;
    align-items: center;
    left: 0;
    width: 100%;
    border-bottom: 2px solid green;
}

.search-bar>input {
    flex: 1;
    height: inherit;
    outline: none;
    border: none;
    line-height: 27px;
    font-size: 28px;
    box-shadow: inset;
}

.hide-search-bar {
    display: none;
}